/* General Start */
:root {
    --main-color: #ff305b;
    --second-color: #f1f1f1;
    --light-color-text: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans 3", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

img {
    width: 100%;
}

section{
    padding: 80px 0px;
}

/* scroll animation transition */
.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
    transition: all 1s;

}
/* General End */

/* Nav Start */
.navbar-brand {
    color: var(--main-color) !important;
}


nav .nav-link {
    color: white !important;
    padding: 10px 25px;
    margin: 0px 5px;
    font-weight: 300;
    font-size: 17px;
}

nav .nav-link:hover {
    color: var(--main-color) !important
}


nav .nav-link.active {
    color: var(--main-color) !important;
}

/* Nav End */



/* Hero Section Start */

main {
    background-image: url(../Assets/images/hero_img.jpg);
    height: 100vh;
    background-position: 100%;
    background-size: cover;
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.text-box {
    position: relative;
    z-index: 2;
}

.text-box h1 {
    font-size: 4.5rem;
    color: var(--main-color);
    text-transform: uppercase;
}

.text-box p:first-child {
    font-size: 1.4rem;
    font-family: "Source Sans 3", sans-serif;
}

.text-box p:last-child {
    font-size: 1.5rem;
}

.typed-cursor {
    font-weight: 100;
    font-size: 1.5rem;
    padding-left: 2px;
}

#typed {
    color: var(--main-color);
    font-weight: 500;
}

/* Hero Section End */

/* About Section Start */

.about-image{
    border: 8px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
}
.about-image:hover .img-overlay{
    transform: translateY(0%);
    transition: all 0.3s ease;
}
.img-overlay{
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(100%);
    transition: all 0.3s ease;
}

/* About Section End */