/* General Start */
:root {
    --main-color: #ff305b;
    --second-color: #f1f1f1;
    --light-color-text: #fff;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans 3", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

section {
    padding: 80px 0px;
}

/* scroll animation transition */
.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
    transition: all 1s;

}

/* General End */

/* Nav Start */
.navbar-brand {
    color: var(--main-color) !important;
}


nav .nav-link {
    color: white !important;
    padding: 10px 25px;
    margin: 0px 5px;
    font-weight: 300;
    font-size: 17px;
}

nav .nav-link:hover {
    color: var(--main-color) !important
}

nav .nav-link.active {
    color: var(--main-color) !important;
}

/* Nav End */

/* Hero Section Start */

main {
    background-image: url(../Assets/images/hero_img.jpg);
    height: 100vh;
    background-position: 100%;
    background-size: cover;
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.text-box {
    position: relative;
    z-index: 2;
}

.text-box h1 {
    font-size: 4.5rem;
    color: var(--main-color);
    text-transform: uppercase;
}

.text-box p:first-child {
    font-size: 1.4rem;
    font-family: "Source Sans 3", sans-serif;
}

.text-box p:last-child {
    font-size: 1.5rem;
}

.typed-cursor {
    font-weight: 100;
    font-size: 1.5rem;
    padding-left: 2px;
}

#typed {
    color: var(--main-color);
    font-weight: 500;
}

/* Hero Section End */

/* About Section Start */

.about-image {
    border: 8px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.img-box {
    transform: translate(10%, 5%);
    overflow: hidden;
}

.img-box:hover .img-overlay {
    transition: all 0.4s ease;
    transform: translate(0%, 0%);
}

.img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease;
    transform: translateX(0%) translateY(100%);
    z-index: 1;
}

.img-overlay i {
    transition: opacity 0.3s ease;
    opacity: 0;

}

.img-box:hover i {
    transition: transform .3s ease, opacity .3s ease;
    transform: translateY(0%);
    opacity: 1;

}

.img-box:hover .img-overlay i:nth-child(1) {
    transition-property: opacity, color;
    transition-delay: 0.4s, 0.1s;
}

.img-box:hover .img-overlay i:nth-child(2) {
    transition-property: opacity, color;
    transition-delay: 0.5s, 0.1s;
}

.img-box:hover .img-overlay i:nth-child(3) {
    transition-property: opacity, color;
    transition-delay: 0.6s, 0.1s;
}

.img-box:hover .img-overlay i:nth-child(4) {
    transition-property: opacity, color;
    transition-delay: 0.7s, 0.1s;
}

.img-overlay i:hover {
    color: var(--main-color) !important;
    cursor: pointer;
}

/* About Section End */