/* General Start */
:root {
    --main-color: #ff305b;
    --second-color: #f1f1f1;
    --light-color-text: #fff;
}

.bg1 {
    background-color: var(--light-color-text);
}

.bg2 {
    background-color: var(--second-color);
}

html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}

textarea{
    resize: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans 3", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

section {
    padding: 80px 0px;
}

button:focus {
  box-shadow: none !important;
}

input:focus{
  border: var(--main-color) 1px solid !important;
  box-shadow: none !important;
}
textarea:focus{
  border: var(--main-color) 1px solid !important;
  box-shadow: none !important;
}
.section-header {
    text-align: center;
}

.section-header h2 {
    font-weight: bolder;
    font-size: 2.5rem;
}

.line {
    background-color: var(--main-color);
    width: 20%;
    height: 1px;
    margin: 5px auto;
    position: relative;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.line::after,
.line::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: var(--main-color);
    top: 50%;
    transition: transform 1s ease-in-out;
}

.line::after {
    transform: translate(-150%, 10px);
}

.line::before {
    transform: translate(50%, -10px);
}

.line.animate-lines {
    opacity: 1;
}

.line.animate-lines::after {
    transform: translate(-50%, 10px);
}

.line.animate-lines::before {
    transform: translate(-50%, -10px);
}


/* scroll animation transition */
.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
    transition: all 1s;

}

/* General End */

/* Nav Start */
.navbar-brand {
    color: var(--main-color) !important;
}

nav .nav-link {
    color: white !important;
    padding: 10px 25px;
    margin: 0px 5px;
    font-weight: 300;
    font-size: 17px;
}

nav .nav-link:hover {
    color: var(--main-color) !important
}

nav .nav-link.active {
    color: var(--main-color) !important;
}

/* nav bar hide on scroll */
.navbar {
    background-color: rgba(0, 0, 0, 0.462);
    backdrop-filter: blur(20px);
    opacity: 1;
    transition: top 0.5s ease-in-out, opacity 0.7s ease;
}

.navbar.hide {
    top: -100px !important;
    opacity: 0;
}

/* Nav End */

/* Hero Section Start */

main {
    background-image: url(../Assets/images/hero_img.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.text-box {
    position: relative;
    z-index: 2;
}

.text-box h1 {
    font-size: 4.5rem;
    color: var(--main-color);
    text-transform: uppercase;
}

.text-box p:first-child {
    font-size: 1.4rem;
    font-family: "Source Sans 3", sans-serif;
}

.text-box p:last-child {
    font-size: 1.5rem;
}

.typed-cursor {
    font-weight: 100;
    font-size: 1.5rem;
    padding-left: 2px;
}

#typed {
    color: var(--main-color);
    font-weight: 500;
}

/* Hero Section End */

/* About Section Start */

#About {
    background-color: var(--light-color-text);
}

.about-image {
    border: 8px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.img-box {
    transform: translate(10%, 5%);
    overflow: hidden;
}

.img-box:hover .img-overlay {
    transition: all 0.4s ease;
    transform: translate(0%, 0%);
}

.img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease;
    transform: translateX(0%) translateY(100%);
    z-index: 1;
}

.img-overlay i {
    transition: opacity 0.3s ease;
    opacity: 0;
}

.img-box:hover i {
    transition: transform .3s ease, opacity .3s ease;
    transform: translateY(0%);
    opacity: 1;
}

.img-box:hover .img-overlay i:nth-child(1) {
    transition-property: opacity, color;
    transition-delay: 0.4s, 0.1s;
}

.img-box:hover .img-overlay i:nth-child(2) {
    transition-property: opacity, color;
    transition-delay: 0.5s, 0.1s;
}

.img-box:hover .img-overlay i:nth-child(3) {
    transition-property: opacity, color;
    transition-delay: 0.6s, 0.1s;
}

.img-box:hover .img-overlay i:nth-child(4) {
    transition-property: opacity, color;
    transition-delay: 0.7s, 0.1s;
}

.img-overlay i:hover {
    color: var(--main-color) !important;
    cursor: pointer;
}

.about-text h2 {
    border-left: var(--main-color) solid 5px;
    padding-left: 5px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.about-text p{
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.6;
    border-bottom: dashed rgba(0, 0, 0, 0.5) 1px;
}

.about-text ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
}

.about-text li {
    width: 40%;
    color: rgba(0, 0, 0, 0.8);
}

.about-text span {
    font-weight: 600;
    color: black;
}

.btn {
    background-color: var(--main-color);
    color: white;
    transition: all 0.5s ease;
    border: 2px solid transparent;
}

.btn:hover {
    color: black;
    background-color: white;
    border: 2px solid var(--main-color);
}

/* About Section End */

/* Service Section Start */
.services-content .service {
    opacity: 0;
}

.service.Sshow {
    opacity: 1;
}

.services-content .service:nth-child(1) {
    transition: opacity 0.4s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease;

}

.services-content .service:nth-child(2) {
    transition: opacity 0.6s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease;
}

.services-content .service:nth-child(3) {
    transition: opacity 0.8s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease;
}

.services-content .service:nth-child(4) {
    transition: opacity 1s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease;
}

.services-content .service h5 {
    text-transform: uppercase;
    font-weight: 600;
}

.services-content .service p {
    color: rgba(0, 0, 0, 0.7);
    padding: 0px 10px;
}

.services-content .service:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Service Section End */

/* Portfolio Section Start */
.categories button {
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 1rem;
}

.categories button {
    text-transform: uppercase;
    transition: color 0.4s ease;
}

.categories button:hover {
    color: var(--main-color) !important;
}

.categories button.active {
    color: var(--main-color) !important;
}

.item {
    width: 30%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item img {
    width: 100%;
    transition: all 0.5s ease;
}

.item .overlay {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.714);
    transition: opacity 0.5s ease;
}

.item:hover .overlay {
    opacity: 1;
}

.item:hover img {
    filter: blur(5px);
    transform: scale(1.2);
}

.item .overlay i {
    transition: all 0.5s ease;
    cursor: pointer;
}

.item .overlay i:hover {
    color: #f1f1f1 !important;
}

/* Portfolio Section End */

.stats-content {
    font-weight: 500;
}

/* Stats Start*/
.stats-content {
    opacity: 0;

}

.stats-content.showStats {
    opacity: 1;
}

.stats-container .stats-content:nth-child(1) {
    transition: opacity 0.4s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease;
}

.stats-container .stats-content:nth-child(2) {
    transition: opacity 0.6s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease;
}

.stats-container .stats-content:nth-child(3) {
    transition: opacity 0.8s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease;
}

.stats-container .stats-content:nth-child(4) {
    transition: opacity 1s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Stats End*/

/* Testimonial Section Start */

.feedback {
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.content {
    z-index: 2;
    /* position: relative; */
}
.feedback .img-content{
    position: relative;
}


.feedback .img-content::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 500px;
    transform: translate(-50px,-300px) rotate(45deg);
    background-color: var(--main-color);
    z-index: 1;
}

.feedback .img-frame{
    width: 100px;
    height: 100px;
    z-index: 2;
}
.feedback .fa-star{
    color: gold !important;
    font-size: 14px;
}

/* Testimonial Section End */



/* Blog Section Start */

.blog a{
    transition: color 0.3s ease;
}

.blog a:hover{
    color: var(--main-color);
}

.blog{
    transition: all 0.3s ease;
    width: 350px;
}

.blog:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.01);
}

.blog .post-image{
    max-height: 200px;
    background-color: rgb(113, 12, 12);
    overflow: hidden;
}
/* Blog Section End */

input::placeholder,textarea::placeholder{
    font-size: 14px;
}


footer{
    background-color: #333333;
}

footer .socials i{
    transition: color 0.5s ease;
    cursor: pointer;
}


footer .socials i:hover{
    color: var(--main-color) !important;    
}
footer span{
    color: var(--main-color);
}