.text-gradient {
  background: linear-gradient(to right, white, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#Quote-box {
  color: white;
}

.text-container{
  position: relative;
}
.text-container::before{
  content: '❝';
  font-size: 5rem;
  position: absolute;
  right: 0;
  left: 0;
  z-index: -1;
  color: gold;
}

.text-container p{
  transition: all 1s ease;
  padding-top: 5rem;
  z-index: 1;
}
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000; /* اختياري */
  background-size: cover;
  background-position: center;
  z-index: -1;
}
